.overlay, .modal {
    position: fixed;
    opacity: 0;
    visibility: hidden; 
    transition: 0.55s;
}

@keyframes overlay-in {
    0% { scale: 0 0.004;}
    33% { scale: 1 0.004;}
    66%,
    100% { scale: 1 1; }    
}
.overlay {
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
    rgb(0 0 0 / 75%);
}
.overlay.open{
    visibility: visible;
    opacity: 1; animation:
    overlay-in ls both;
}
@keyframes modal-in {
0%,
66% {
    opacity: 0;
    visibility:hidden;
    translate:- 50% -40%;
    }
100% {
    opacity: 1;
    visibility: visible;
    }
}
.modal {
    z-index: 2; 
    width: 430px;
    top: 50%; 
    left: 50%;
    background: #ffffff; 
    border-radius: 12px; 
    padding: 0 40px 50px;
    translate: -50% -50%;
    box-shadow:
    0 10px 30px
    rgb(000/ 24%);    
}
.overlay.open .modal {
    opacity: 1;
    visibility: visible;
    animation: modal-in 1s;    
}
.M_login {
   border-radius: 10px;
   border: 2px solid white;
   background: transparent;
   backdrop-filter: blur(8px);
}