
 .modal {
   background: rgb(255, 255, 255);
   padding: 20px;
   border-radius: 8px;
   max-width: 80%; /*max-width: 500px;*/
   width: 100%;
   box-sizing: border-box; /*패딩+테두리의 너비 계산*/
 }

 .modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .modal-content {
   background: white;
   padding: 20px;
   border-radius: 8px;
   position: relative;
   width: 80%;
   max-width: 500px; /* 화면의 크기에 비례한 최대 너비 설정 */
   box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
 
 }